absl-py==1.4.0
alabaster==0.7.13
ale-py==0.7.4
alembic==1.9.1
altair==4.2.0
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.3
apsw==3.40.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciichartpy==1.5.25
asttokens==2.0.5
async-generator==1.10
attrs==22.1.0
Automat==22.10.0
autopage==0.5.1
Babel==2.11.0
backcall==0.2.0
bcrypt==4.0.1
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.5
branca==0.6.0
cachetools==5.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
click-log==0.4.0
cliff==4.1.0
cloudpickle==2.2.0
cmaes==0.9.0
cmake==3.25.0
cmd2==2.4.2
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.7.0
commonmark==0.9.1
confile==1.4
constantly==15.1.0
contourpy==1.0.5
coverage==7.1.0
cycler==0.11.0
Cython==0.29.32
dataclasses==0.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
deta==1.1.0
distlib==0.3.6
docutils==0.17.1
dotty-dict==1.3.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.1.0
executing==0.8.3
extra-streamlit-components==0.1.56
face-recognition-models==0.3.0
facenet-pytorch==2.5.2
fastapi==0.80.0
fasteners==0.18
fastjsonschema==2.16.2
filelock==3.8.0
flake8==6.0.0
flatbuffers==22.12.6
folium==0.13.0
fonttools==4.37.3
gitdb==4.0.10
GitPython==3.1.29
google==3.0.0
google-auth==2.15.0
google-auth-oauthlib==0.4.6
gotrue==0.5.4
greenlet==2.0.1
grpcio==1.51.1
gsheetsdb==0.1.13.1
h11==0.13.0
htmlmin==0.1.12
httpcore==0.16.3
httptools==0.4.0
httpx==0.23.3
huggingface-hub==0.9.1
humanfriendly==10.0
hyperlink==21.0.0
hypothesis==6.65.2
idna==3.3
ImageHash==4.3.0
imagesize==1.4.1
importlib-metadata==4.13.0
importlib-resources==5.9.0
incremental==22.10.0
iniconfig==2.0.0
invoke==1.7.3
ipykernel==6.13.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.2
japanize-matplotlib==1.1.3
jaraco.classes==3.2.3
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.17.0
jupyter-client==7.3.4
jupyter-core==4.10.0
jupyter-server==1.21.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
keyring==23.13.1
kiwisolver==1.4.4
lightgbm==3.3.3
llvmlite==0.39.1
lxml==4.9.2
Mako==1.2.4
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.3
mccabe==0.7.0
mdit-py-plugins==0.3.3
mdurl==0.1.2
missingno==0.5.1
mistune==2.0.4
mne==1.2.0
mo-dots==4.22.21108
mo-future==3.147.20327
mo-imports==3.149.20327
mo-kwargs==4.22.21108
mo-logs==4.23.21108
monotonic==1.6
more-itertools==9.0.0
moz-sql-parser==4.40.21126
mpmath==1.2.1
multimethod==1.8
myst-parser==0.18.1
natsort==8.2.0
nbclassic==0.4.8
nbclient==0.7.0
nbconvert==7.2.3
nbformat==5.7.0
nest-asyncio==1.5.5
networkx==2.8.6
notebook==6.5.2
notebook_shim==0.2.2
numba==0.56.3
numpy==1.23.3
oauthlib==3.2.2
onnxruntime==1.13.1
opencv-python==4.6.0.66
openpyxl==3.0.10
optuna==3.0.5
outcome==1.2.0
packaging==21.3
pandas==1.4.4
pandas-profiling==3.3.0
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
pbr==5.11.0
pexpect==4.8.0
phik==0.12.2
pickleshare==0.7.5
Pillow==9.2.0
pkginfo==1.9.6
platformdirs==2.6.2
plotly==5.11.0
pluggy==1.0.0
polars==0.15.14
pooch==1.6.0
postgrest-py==0.10.3
prettytable==3.5.0
prometheus-client==0.15.0
prompt-toolkit==3.0.29
protobuf==3.20.3
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pyarrow==10.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.10.1
pycodestyle==2.10.0
pycparser==2.21
pydantic==1.9.2
pydeck==0.8.0
pyflakes==3.0.1
Pygments==2.12.0
PyJWT==2.6.0
Pympler==1.0.1
pyparsing==3.0.9
pyperclip==1.8.2
pyroomacoustics==0.7.1
pyrsistent==0.19.2
pytest==7.2.1
pytest-arraydiff==0.5.0
pytest-astropy==0.10.0
pytest-astropy-header==0.2.2
pytest-cov==4.0.0
pytest-doctestplus==0.12.1
pytest-filter-subpackage==0.1.2
pytest-flake8==1.1.1
pytest-mock==3.10.0
pytest-openfiles==0.5.0
pytest-pycodestyle==2.3.1
pytest-remotedata==0.4.0
pytest-subprocess==1.5.0
pytest-tornasync==0.6.0.post2
pytest-trio==0.8.0
pytest-twisted==1.14.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-gitlab==3.12.0
python-semantic-release==7.32.1
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==23.1.0
readme-renderer==37.3
realtime==0.0.5
regex==2022.9.13
requests==2.28.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3986==1.5.0
rich==12.6.0
rsa==4.9
scikit-learn==1.1.2
scipy==1.8.1
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
shap==0.41.0
shillelagh==1.1.5
simpy==4.0.1
six==1.16.0
slicer==0.0.7
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinx-fontawesome==0.0.6
sphinx-intl==2.0.1
sphinx-rtd-theme==1.1.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.45
stack-data==0.2.0
starlette==0.19.1
statsmodels==0.13.2
stevedore==4.1.1
storage3==0.3.6
streamlit==1.16.0
streamlit-authenticator==0.2.1
supabase==0.7.1
supafunc==0.2.2
sweetviz==2.1.4
sympy==1.11.1
tangled-up-in-unicode==0.2.0
tenacity==8.1.0
tensorboard==2.12.0
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
terminado==0.17.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
torch==1.13.1
torchvision==0.14.1
tornado==6.1
tqdm==4.64.1
traitlets==5.2.2.post1
transformers==4.22.1
transitions==0.9.0
trio==0.22.0
twine==3.8.0
Twisted==22.10.0
typing_extensions==4.3.0
tzdata==2022.7
tzlocal==4.2
undecorated==0.3.0
urllib3==1.26.12
uvicorn==0.18.3
uvloop==0.16.0
validators==0.20.0
virtualenv==20.17.1
visions==0.7.5
watchdog==2.2.1
watchfiles==0.16.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.4.2
websockets==10.3
Werkzeug==2.2.3
widgetsnbextension==3.6.1
zipp==3.11.0
zope.interface==5.5.2
